header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    display: flex;
    
    .container{
        @include flex (row, center, space-between)
    }
    .itens{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 76%;
    }
    nav{
        ul{
            display: flex;
            a{
                color: $black;
                font-size: 1.2rem;
                font-weight: 700;

                &:hover{
                    color: $gray-200;
                }
            }
            li{
                margin-right: 56px;
            }
        }
    }
    button{
        color: $black;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        &:before{
            content:  url('./../img/user.svg');
            margin-right: 8px;
            margin-top: 4px;
        }
    }
    .icon-menu-mobile{
        display: none;
        .menu-mobile{
            flex-direction: column;
            position: fixed;
          
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;

            align-items: center;
            padding: 20px;
            border-radius: 10px;
            display: none;
            z-index: 10;
        }
        .active{
            display: block;
            animation-name: fadein;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        #close{
            display: block;
            float: right;
        }

    }
    
}


@include responsive(800px){
    header{
        .itens{
            display: none;
        }
        .icon-menu-mobile{
            display: block;
            cursor: pointer;
        }

        .menu-mobile{
            ul{
                flex-direction: column;
                text-align: center;

                position: absolute;
                top: calc(50% - 80px);
                left: 50%;
                transform: translate(-50%, -50%);

                li{
                    margin-right: 0;
                    margin-bottom: 16px;
                    
                    a{
                        font-size: 22px;
                      
                    }
                }
            }
        }

    }
 }
 
 